.barra{
    position: fixed;
    background-color: #489DB7;
    height: 100%;
    width: 300px;
    padding-top: 40px;
}

.barra h1{
    color: #ffffff; /
	font-size: 32px; 
	text-align: center; 
	margin-top: 20px; 
	margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra button{
    padding: 20px;
    background-color: #CFF0EE;
    display: flex;
    justify-content: space-between;
    border-radius: 5%;
    border: none;
    align-items: center;
}

.barra img{
    width: 200px; 
	height: 250px; 
	display: block; 
	position: relative;
	margin-left: auto;
	margin-right: auto; 
}

.content {
	position: absolute;
	left: 300px; 
	width: calc(100% - 300px); 
}

.banner{
    height: 500px; /* Altura fixa do banner */
	background-image: url('img/fundomarjpg.jpg'); /* Imagem de fundo */
	background-position: center; /* Centraliza a imagem */
	background-size: cover; /* Cobre todo o banner */
}
